<template>
  <div class="Teleport">
    <!-- Display greetings -->
    <h1>{{ msg }}</h1>
    <h2>Amir Zaki - July 23rd, 2020</h2>
    <br />
    <!-- Query / Result Form -->
    <div id="weatherForm">
      <b-row>
        <b-col sm="10" class="align-self-center">
          <b-form-group label="Address :">
            <b-form-input
              v-model.trim="queryText"
              type="text"
              required
              placeholder="Enter address"
            />
          </b-form-group>
        </b-col>
        <b-col sm="2" class="align-self-center d-flex justify-content-end">
          <!-- If searching places, display spinner -->
          <b-button v-if="!loadingPlaces" @click="SearchPlaces()" variant="outline-primary">Search</b-button>
          <b-spinner v-else variant="primary" label="Spinning"></b-spinner>
        </b-col>
      </b-row>
      <!-- Display seperator line if there are results from places -->
      <hr v-show="candidates.length > 0" />
      <b-row>
        <b-col sm="12">
          <!-- Update current weather on option change -->
          <b-form-select
            v-if="candidates.length > 0"
            :disabled="loadingPlaces === true"
            v-model="selectedCandidate"
            @change="GetWeather()"
          >
            <!-- Default option -->
            <template v-slot:first>
              <b-form-select-option :value="null" disabled>-- Please select an address --</b-form-select-option>
            </template>
            <!-- Note : Places will always return an array, so we loop through the results -->
            <option
              v-for="(item, index) in candidates"
              v-bind:value="item"
              :key="index"
            >{{ item.name }} | {{ item.formatted_address}}</option>
          </b-form-select>
        </b-col>
      </b-row>
      <br />
      <!-- Only display weather information if an option have been selected -->
      <div v-if="selectedCandidate != null">
        <!-- If updating weather, display spinner -->
        <div v-if="loadingWeather">
          <b-row>
            <b-col sm="12" class="d-flex justify-content-center">
              <h6>Retrieving current weather</h6>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="12" class="d-flex justify-content-center">
              <b-spinner variant="primary" label="Spinning"></b-spinner>
            </b-col>
          </b-row>
        </div>
        <!-- Update is done -->
        <b-row v-else>
          <b-col v-if="selectedWeather != null" sm="6" class="align-self-center">
            <!-- V-model - weather main value -->
            <!-- Footer - weather description -->
            <b-form-group
              label="Current Weather :"
              :description="'Description : ' + selectedWeather.description"
            >
              <b-form-input v-model="selectedWeather.main" type="text" disabled />
            </b-form-group>
          </b-col>
          <!-- Display latititude from selected candidate location -->
          <b-col sm="3" class="align-self-top">
            <b-form-group label="Lat :">
              <b-form-input v-model="selectedCandidate.geometry.location.lat" type="text" disabled />
            </b-form-group>
          </b-col>
          <!-- Display longitude from selected candidate location -->
          <b-col sm="3" class="align-self-top">
            <b-form-group label="Lng :">
              <b-form-input v-model="selectedCandidate.geometry.location.lng" type="text" disabled />
            </b-form-group>
          </b-col>
        </b-row>
      </div>
    </div>
    <br />
    <!-- Maps -->
    <div>
      <GmapMap id="map" :center="position" :zoom="15" map-type-id="roadmap">
        <!-- Marker will update based on selected candidate location -->
        <GmapMarker
          v-if="selectedCandidate != null"
          :position="selectedLocation"
          :clickable="false"
          :draggable="false"
          @click="center=position"
        />
      </GmapMap>
    </div>
    <br />
  </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import { BootstrapVue, BootstrapVueIcons } from "bootstrap-vue";

import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

Vue.use(BootstrapVue);
Vue.use(BootstrapVueIcons);

export default {
  name: "Maps",
  props: {
    msg: String,
  },
  data: function () {
    return {
      // Loading flag
      loadingPlaces: false,
      loadingWeather: false,

      // Address to search
      queryText: "",

      // Gmap init position
      position: { lat: 2.7425066, lng: 101.6809562 },

      // Gmap places query result
      candidates: [],
      selectedCandidate: null,
      selectedLocation: { lat: null, lng: null },

      // Weather object
      selectedWeather: null,
    };
  },
  mounted() {
    if (
      process.env.VUE_APP_GOOGLE_API == null ||
      process.env.VUE_APP_GOOGLE_API == undefined
    ) {
      alert("Google Maps API key not set!");
    }

    if (
      process.env.VUE_APP_WEATHER_API == null ||
      process.env.VUE_APP_WEATHER_API == undefined
    ) {
      alert("OpenWeather API key not set!");
    }
  },
  methods: {
    async SearchPlaces() {
      // Set loading flag
      this.loadingPlaces = true;

      // Clear related vars
      this.candidates = [];
      this.selectedCandidate = null;
      this.selectedWeather = null;

      // Set Google Places API url
      // Note : Bypass CORS
      const URL =
        "https://cors-anywhere.herokuapp.com/https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=" +
        this.queryText +
        "&inputtype=textquery&fields=photos,formatted_address,name,rating,opening_hours,geometry&key=" +
        process.env.VUE_APP_GOOGLE_API;

      // Call Places API
      await axios
        .get(URL)
        .then(async (response) => {
          this.candidates = response.data.candidates;

          // If response have data, set related vars
          if (this.candidates.length > 0) {
            // Always select the first value
            this.selectedCandidate = this.candidates[0];
            this.selectedLocation = this.selectedCandidate.geometry.location;
            this.position = this.selectedLocation;

            // Call Weather API
            await this.GetWeather();
          }

          // Clear loading flag
          this.loadingPlaces = false;
        })
        .catch((error) => {
          console.log(error.message);
          // Clear loading flag
          this.loadingPlaces = false;
        });
    },

    async GetWeather() {
      // Set loading flag
      this.loadingWeather = true;

      // Set OpenWeather API url
      // Note : Bypass CORS
      const URL =
        "https://cors-anywhere.herokuapp.com/api.openweathermap.org/data/2.5/weather" +
        "?lat=" +
        this.selectedLocation.lat +
        "&lon=" +
        this.selectedLocation.lng +
        "&appid=" +
        process.env.VUE_APP_WEATHER_API;

      // Call Weather API
      await axios
        .get(URL)
        .then((response) => {
          // Store first weather object from array
          this.selectedWeather = response.data.weather[0];
          // Clear loading flag
          this.loadingWeather = false;
        })
        .catch((error) => {
          console.log(error.message);
          // Clear loading flag
          this.loadingWeather = false;
        });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#weatherForm {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
#map {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 500px;
}
h1 {
  word-wrap: break-word;
}
</style>
